html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  cursor: none;
}

.cursor {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-animation: cursor-spin 2s linear infinite;
          animation: cursor-spin 2s linear infinite;
  position: absolute;
  border: 1px solid rgb(51, 51, 51);
  z-index: 1000;
}
.cursor .inner_cursor {
  margin: 4px;
  width: 10px;
  height: 10px;
  background: white;
}

.fullpage {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(51, 51, 51);
}

#page_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
#page_wrap #scroll_spin {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  -webkit-animation: scroll_spin 15s both linear infinite;
          animation: scroll_spin 15s both linear infinite;
  background: url(../img/spin_white.svg) center/cover no-repeat;
}
#page_wrap #main #cube_wrap {
  width: 100%;
  height: 100vh;
}
#page_wrap #main #cube_wrap .cube {
  position: relative;
  height: 50vh;
  width: 50vh;
  top: 25vh;
  left: calc(50% - 25vh);
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  transform-style: preserve-3d;
}
#page_wrap #main #cube_wrap .cube .cube_face {
  position: absolute;
  height: 100%;
  width: 100%;
}
#page_wrap #main #cube_wrap .cube .cube_1 {
  transform: rotateX(90deg) translateZ(25vh);
  background: #ffffff;
}
#page_wrap #main #cube_wrap .cube .cube_2 {
  transform: translateZ(25vh);
  background: #fdfdfd;
}
#page_wrap #main #cube_wrap .cube .cube_3 {
  transform: rotateY(90deg) translateZ(25vh);
  background: #f4f4f4;
}
#page_wrap #main #cube_wrap .cube .cube_4 {
  transform: rotateY(180deg) translateZ(25vh);
  background: #f7f7f7;
}
#page_wrap #main #cube_wrap .cube .cube_5 {
  transform: rotateY(-90deg) translateZ(25vh);
  background: #ededed;
}
#page_wrap #main #cube_wrap .cube .cube_6 {
  transform: rotateX(-90deg) translateZ(25vh);
  background: #e7e7e7;
}
#page_wrap #main #cube_wrap #text_wrap {
  position: relative;
}
#page_wrap #main #cube_wrap #text_wrap h1 {
  margin-top: -25vh;
  color: white;
  text-align: center;
  font-size: 10em;
  text-shadow: -1px 0 rgb(51, 51, 51), 0 1px rgb(51, 51, 51), 1px 0 rgb(51, 51, 51), 0 -1px rgb(51, 51, 51);
}
#page_wrap #main #cube_wrap #text_wrap h1 span {
  position: relative;
  display: inline-block;
}

#square {
  width: auto;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
  position: relative;
  background: rgb(51, 51, 51);
}
#square .fullpage {
  float: left;
  position: absolute;
}
#square #introduce {
  width: 100vw;
  height: auto;
  transform-style: preserve-3d;
  perspective: 2000px;
  position: relative;
  display: flex;
  justify-content: center;
}
#square #introduce .container {
  width: 1200px;
  position: absolute;
  height: 100vh;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}
#square #introduce .container #pic_outer {
  width: 300px;
  height: 45vh;
  background: rgb(51, 51, 51);
  position: relative;
  overflow: hidden;
}
#square #introduce .container #pic_outer::before {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
}
#square #introduce .container #pic_outer::after {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  position: absolute;
  bottom: 0;
  margin-left: 272px;
}
#square #introduce .container #pic_outer #pic {
  width: 300px;
  position: absolute;
  top: 0;
  height: 45vh;
  background: white;
  -webkit-clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(300px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
          clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(300px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
}
#square #introduce .container #about_outer {
  margin-left: 100px;
  width: 700px;
  height: 45vh;
  background: rgb(51, 51, 51);
  position: relative;
  overflow: hidden;
}
#square #introduce .container #about_outer::before {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
}
#square #introduce .container #about_outer::after {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  position: absolute;
  bottom: 0;
  margin-left: 672px;
}
#square #introduce .container #about_outer #about {
  width: 700px;
  height: 45vh;
  position: absolute;
  top: 0;
  background: forestgreen;
  -webkit-clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(700px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
          clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(700px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
}
#square #introduce .container #comment_outer {
  width: 1100px;
  height: 30vh;
  background: rgb(51, 51, 51);
  position: relative;
  overflow: hidden;
}
#square #introduce .container #comment_outer::before {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  height: 3.3vh;
}
#square #introduce .container #comment_outer::after {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  height: 3.3vh;
  position: absolute;
  bottom: 0;
  margin-left: 1072px;
}
#square #introduce .container #comment_outer #comment {
  width: 1100px;
  height: 30vh;
  position: absolute;
  top: 0;
  background: firebrick;
  -webkit-clip-path: polygon(4.5vh 0%, 100% 0%, 100% 25.5vh, calc(1100px - 4.5vh) 100%, 0% 100%, 0% 4.5vh);
          clip-path: polygon(4.5vh 0%, 100% 0%, 100% 25.5vh, calc(1100px - 4.5vh) 100%, 0% 100%, 0% 4.5vh);
}
#square #introduce #skill {
  top: 150vh;
  transform: rotateX(-45deg);
}
#square #introduce #skill div {
  width: 100%;
  height: 50%;
}
#square #introduce #skill div h2 {
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
}
#square #introduce #skill div .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin: 0 50px;
}
#square #introduce #skill div .circle .inner_circle {
  width: 150px;
  height: 150px;
  background: rgb(51, 51, 51);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#square #introduce #skill div .circle .inner_circle img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#square #portfolio {
  width: 100vw;
  height: 100vh;
  left: 100vw;
}
#square #portfolio .container {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: hidden;
}
#square #portfolio .container h2 {
  width: 100%;
  height: 5vh;
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
}
#square #portfolio .container #project_wrap {
  width: 600%;
  height: 65vh;
  overflow: hidden;
}
#square #portfolio .container #project_wrap .project {
  width: 600px;
  height: 100%;
  float: left;
}
#square #portfolio .container #project_wrap .project .img_box {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
#square #portfolio .container #project_wrap .project .img_box img {
  width: 100%;
  height: 100%;
}
#square #portfolio .container #project_wrap .project .btn_wrap {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#square #portfolio .container #project_wrap .project .btn_wrap button {
  cursor: none;
  width: 100px;
  height: 40px;
  margin: 0 10px;
  border: none;
}
#square #portfolio .container .popup {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
}
#square #portfolio .container .popup .view_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 90%;
  overflow: hidden;
}
#square #portfolio .container .popup .view_box .view {
  width: 100%;
}
#square #portfolio .container .popup .close {
  margin-left: 10px;
  position: absolute;
  top: 5%;
  left: 75%;
}
#square #portfolio .container .popup .close i {
  color: white;
  font-size: 2em;
}
#square #contact {
  width: 100vw;
  height: 100vh;
  top: 150vh;
}
#square #contact .container {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: hidden;
  background: khaki;
}

#footer #cube_wrap_2 {
  width: 100%;
  height: 100vh;
}
#footer #cube_wrap_2 .cube {
  position: relative;
  height: 50vh;
  width: 50vh;
  top: 25vh;
  left: calc(50% - 25vh);
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  transform-style: preserve-3d;
}
#footer #cube_wrap_2 .cube .cube_face {
  position: absolute;
  height: 100%;
  width: 100%;
}
#footer #cube_wrap_2 .cube .cube_1 {
  transform: rotateX(90deg) translateZ(25vh);
  background: #ffffff;
}
#footer #cube_wrap_2 .cube .cube_2 {
  transform: translateZ(25vh);
  background: #fdfdfd;
}
#footer #cube_wrap_2 .cube .cube_3 {
  transform: rotateY(90deg) translateZ(25vh);
  background: #f4f4f4;
}
#footer #cube_wrap_2 .cube .cube_4 {
  transform: rotateY(180deg) translateZ(25vh);
  background: #f7f7f7;
}
#footer #cube_wrap_2 .cube .cube_5 {
  transform: rotateY(-90deg) translateZ(25vh);
  background: #ededed;
}
#footer #cube_wrap_2 .cube .cube_6 {
  transform: rotateX(-90deg) translateZ(25vh);
  background: #e7e7e7;
}
#footer #cube_wrap_2 #text_wrap_2 {
  position: relative;
}
#footer #cube_wrap_2 #text_wrap_2 h1 {
  display: none;
  margin: -15vh auto;
  color: white;
  text-align: center;
  font-size: 11em;
  text-shadow: -1px 0 rgb(51, 51, 51), 0 1px rgb(51, 51, 51), 1px 0 rgb(51, 51, 51), 0 -1px rgb(51, 51, 51);
}
#footer #cube_wrap_2 #text_wrap_2 h1 span {
  position: relative;
  display: inline-block;
  top: -100vh;
}

.hover {
  -webkit-animation: cursor_hover 2s linear infinite;
          animation: cursor_hover 2s linear infinite;
}

@-webkit-keyframes cursor_hover {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}

@keyframes cursor_hover {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}
@-webkit-keyframes cursor-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cursor-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes text_drop_0 {
  0% {
    top: -100vh;
  }
  70% {
    top: 20vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_0 {
  0% {
    top: -100vh;
  }
  70% {
    top: 20vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_0_back {
  0% {
    top: 0;
  }
  30% {
    top: -20vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_0_back {
  0% {
    top: 0;
  }
  30% {
    top: -20vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_1 {
  0% {
    top: -100vh;
  }
  70% {
    top: 15vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_1 {
  0% {
    top: -100vh;
  }
  70% {
    top: 15vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_1_back {
  0% {
    top: 0;
  }
  30% {
    top: -25vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_1_back {
  0% {
    top: 0;
  }
  30% {
    top: -25vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_2 {
  0% {
    top: -100vh;
  }
  70% {
    top: 7vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_2 {
  0% {
    top: -100vh;
  }
  70% {
    top: 7vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_2_back {
  0% {
    top: 0;
  }
  30% {
    top: -30vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_2_back {
  0% {
    top: 0;
  }
  30% {
    top: -30vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_3 {
  0% {
    top: -100vh;
  }
  70% {
    top: 22vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_3 {
  0% {
    top: -100vh;
  }
  70% {
    top: 22vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_3_back {
  0% {
    top: 0;
  }
  30% {
    top: -15vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_3_back {
  0% {
    top: 0;
  }
  30% {
    top: -15vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_4 {
  0% {
    top: -100vh;
  }
  70% {
    top: 14vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_4 {
  0% {
    top: -100vh;
  }
  70% {
    top: 14vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_4_back {
  0% {
    top: 0;
  }
  30% {
    top: -11vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_4_back {
  0% {
    top: 0;
  }
  30% {
    top: -11vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_6 {
  0% {
    top: -100vh;
  }
  70% {
    top: 9vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_6 {
  0% {
    top: -100vh;
  }
  70% {
    top: 9vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_6_back {
  0% {
    top: 0;
  }
  30% {
    top: -7vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_6_back {
  0% {
    top: 0;
  }
  30% {
    top: -7vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_7 {
  0% {
    top: -100vh;
  }
  70% {
    top: 12vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_7 {
  0% {
    top: -100vh;
  }
  70% {
    top: 12vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_7_back {
  0% {
    top: 0;
  }
  30% {
    top: -22vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_7_back {
  0% {
    top: 0;
  }
  30% {
    top: -22vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_8 {
  0% {
    top: -100vh;
  }
  70% {
    top: 17vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_8 {
  0% {
    top: -100vh;
  }
  70% {
    top: 17vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_8_back {
  0% {
    top: 0;
  }
  30% {
    top: -16vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_8_back {
  0% {
    top: 0;
  }
  30% {
    top: -16vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes up {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
@keyframes up {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
@-webkit-keyframes down {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes down {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@-webkit-keyframes square_contact {
  from {
    top: 150vh;
    transform: rotateX(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@keyframes square_contact {
  from {
    top: 150vh;
    transform: rotateX(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes square_contact_back {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: 150vh;
    transform: rotateX(-45deg);
  }
}
@keyframes square_contact_back {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: 150vh;
    transform: rotateX(-45deg);
  }
}
@-webkit-keyframes square_portfolio {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: -150vh;
    transform: rotateX(45deg);
  }
}
@keyframes square_portfolio {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: -150vh;
    transform: rotateX(45deg);
  }
}
@-webkit-keyframes square_portfolio_back {
  from {
    top: -150vh;
    transform: rotateX(45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@keyframes square_portfolio_back {
  from {
    top: -150vh;
    transform: rotateX(45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes square_profile {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: -150vh;
    transform: rotateX(45deg);
  }
}
@keyframes square_profile {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: -150vh;
    transform: rotateX(45deg);
  }
}
@-webkit-keyframes square_profile_back {
  from {
    top: -150vh;
    transform: rotateX(45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@keyframes square_profile_back {
  from {
    top: -150vh;
    transform: rotateX(45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes square_skill {
  from {
    top: 150vh;
    transform: rotateX(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@keyframes square_skill {
  from {
    top: 150vh;
    transform: rotateX(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes square_skill_back {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: 150vh;
    transform: rotateX(-45deg);
  }
}
@keyframes square_skill_back {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: 150vh;
    transform: rotateX(-45deg);
  }
}
@-webkit-keyframes square_intro {
  from {
    left: 0;
    transform: rotateY(0deg);
  }
  to {
    left: -100vw;
    transform: rotateY(-45deg);
  }
}
@keyframes square_intro {
  from {
    left: 0;
    transform: rotateY(0deg);
  }
  to {
    left: -100vw;
    transform: rotateY(-45deg);
  }
}
@-webkit-keyframes square_intro_back {
  from {
    left: -100vw;
    transform: rotateY(-45deg);
  }
  to {
    left: 0;
    transform: rotateY(0deg);
  }
}
@keyframes square_intro_back {
  from {
    left: -100vw;
    transform: rotateY(-45deg);
  }
  to {
    left: 0;
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes square_port {
  from {
    left: 100vw;
    transform: rotateY(45deg);
  }
  to {
    left: 0;
    transform: rotateY(0deg);
  }
}
@keyframes square_port {
  from {
    left: 100vw;
    transform: rotateY(45deg);
  }
  to {
    left: 0;
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes square_port_back {
  from {
    left: 0;
    transform: rotateY(0deg);
  }
  to {
    left: 100vw;
    transform: rotateY(45deg);
  }
}
@keyframes square_port_back {
  from {
    left: 0;
    transform: rotateY(0deg);
  }
  to {
    left: 100vw;
    transform: rotateY(45deg);
  }
}
@-webkit-keyframes scroll_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}
@-webkit-keyframes spin_back {
  from {
    transform: rotateY(-180deg) rotateX(180deg);
  }
  to {
    transform: rotateY(0) rotateX(0);
  }
}
@keyframes spin_back {
  from {
    transform: rotateY(-180deg) rotateX(180deg);
  }
  to {
    transform: rotateY(0) rotateX(0);
  }
}
@-webkit-keyframes text_out_0 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, -5vh);
  }
}
@keyframes text_out_0 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, -5vh);
  }
}
@-webkit-keyframes text_out_0_back {
  from {
    transform: translate(-30vw, -5vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_0_back {
  from {
    transform: translate(-30vw, -5vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_1 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, -20vh);
  }
}
@keyframes text_out_1 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, -20vh);
  }
}
@-webkit-keyframes text_out_1_back {
  from {
    transform: translate(-40vw, -20vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_1_back {
  from {
    transform: translate(-40vw, -20vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_2 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-50vw, -40vh);
  }
}
@keyframes text_out_2 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-50vw, -40vh);
  }
}
@-webkit-keyframes text_out_2_back {
  from {
    transform: translate(-50vw, -40vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_2_back {
  from {
    transform: translate(-50vw, -40vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_3 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-60vw, -80vh);
  }
}
@keyframes text_out_3 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-60vw, -80vh);
  }
}
@-webkit-keyframes text_out_3_back {
  from {
    transform: translate(-60vw, -80vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_3_back {
  from {
    transform: translate(-60vw, -80vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_5 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0vw, -70vh);
  }
}
@keyframes text_out_5 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0vw, -70vh);
  }
}
@-webkit-keyframes text_out_5_back {
  from {
    transform: translate(0vw, -70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_5_back {
  from {
    transform: translate(0vw, -70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_6 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(10vw, -70vh);
  }
}
@keyframes text_out_6 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(10vw, -70vh);
  }
}
@-webkit-keyframes text_out_6_back {
  from {
    transform: translate(10vw, -70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_6_back {
  from {
    transform: translate(10vw, -70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_7 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(25vw, -60vh);
  }
}
@keyframes text_out_7 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(25vw, -60vh);
  }
}
@-webkit-keyframes text_out_7_back {
  from {
    transform: translate(25vw, -60vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_7_back {
  from {
    transform: translate(25vw, -60vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_9 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(45vw, -30vh);
  }
}
@keyframes text_out_9 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(45vw, -30vh);
  }
}
@-webkit-keyframes text_out_9_back {
  from {
    transform: translate(45vw, -30vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_9_back {
  from {
    transform: translate(45vw, -30vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_10 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(60vw, -30vh);
  }
}
@keyframes text_out_10 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(60vw, -30vh);
  }
}
@-webkit-keyframes text_out_10_back {
  from {
    transform: translate(60vw, -30vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_10_back {
  from {
    transform: translate(60vw, -30vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_11 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, 10vh);
  }
}
@keyframes text_out_11 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, 10vh);
  }
}
@-webkit-keyframes text_out_11_back {
  from {
    transform: translate(-30vw, 10vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_11_back {
  from {
    transform: translate(-30vw, 10vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_12 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, 50vh);
  }
}
@keyframes text_out_12 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, 50vh);
  }
}
@-webkit-keyframes text_out_12_back {
  from {
    transform: translate(-40vw, 50vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_12_back {
  from {
    transform: translate(-40vw, 50vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_13 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, 80vh);
  }
}
@keyframes text_out_13 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, 80vh);
  }
}
@-webkit-keyframes text_out_13_back {
  from {
    transform: translate(-40vw, 80vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_13_back {
  from {
    transform: translate(-40vw, 80vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_14 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, 100vh);
  }
}
@keyframes text_out_14 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, 100vh);
  }
}
@-webkit-keyframes text_out_14_back {
  from {
    transform: translate(-30vw, 100vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_14_back {
  from {
    transform: translate(-30vw, 100vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_15 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(5vw, 150vh);
  }
}
@keyframes text_out_15 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(5vw, 150vh);
  }
}
@-webkit-keyframes text_out_15_back {
  from {
    transform: translate(5vw, 150vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_15_back {
  from {
    transform: translate(5vw, 150vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_16 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(25vw, 150vh);
  }
}
@keyframes text_out_16 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(25vw, 150vh);
  }
}
@-webkit-keyframes text_out_16_back {
  from {
    transform: translate(25vw, 150vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_16_back {
  from {
    transform: translate(25vw, 150vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_17 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(40vw, 70vh);
  }
}
@keyframes text_out_17 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(40vw, 70vh);
  }
}
@-webkit-keyframes text_out_17_back {
  from {
    transform: translate(40vw, 70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_17_back {
  from {
    transform: translate(40vw, 70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_18 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(60vw, 60vh);
  }
}
@keyframes text_out_18 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(60vw, 60vh);
  }
}
@-webkit-keyframes text_out_18_back {
  from {
    transform: translate(60vw, 60vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_18_back {
  from {
    transform: translate(60vw, 60vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_19 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(80vw, 50vh);
  }
}
@keyframes text_out_19 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(80vw, 50vh);
  }
}
@-webkit-keyframes text_out_19_back {
  from {
    transform: translate(80vw, 50vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_19_back {
  from {
    transform: translate(80vw, 50vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}