$back :rgb(51, 51, 51);

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: contain;
}


.fullpage{
    width: 100%;
    height: 100%;
    position: relative;
    background: $back;
}


#page_wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

#scroll_spin {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    animation: scroll_spin 15s both linear infinite;
    background: url(../img/spin_white.svg) center /cover no-repeat;
}

#main{
    #cube_wrap {
        width: 100%;
        height: 100vh;
        #cube {
            position: relative;
            height: 50vh;
            width: 50vh;
            top:25vh;
            left:calc(50% - 25vh);
            animation : spin 8s infinite linear;
            transform-style: preserve-3d;
            .cube_face{
                position: absolute;
                height: 100%;
                width: 100%;
            }
            #cube {
                &_1 {
                    transform: rotateX(90deg) translateZ(25vh); 
                    background: #ffffff;
                } 
                &_2 { 
                    transform: translateZ(25vh); 
                    background: #fdfdfd;
                }
                &_3 { 
                    transform: rotateY(90deg) translateZ(25vh); 
                    background: #f4f4f4;
                }
                &_4 { 
                    transform: rotateY(180deg) translateZ(25vh); 
                    background: #f7f7f7;
                }
                &_5 { 
                    transform: rotateY(-90deg) translateZ(25vh); 
                    background: #ededed;
                }
                &_6 { 
                    transform: rotateX(-90deg) translateZ(25vh); 
                    background: #e7e7e7;
                }
            }
        }
        #text_wrap{
            position: relative;

            h1 {
                margin-top: -25vh;
                color: white;
                text-align: center;
                font-size: 10em;
                text-shadow: -1px 0 $back, 0 1px $back, 1px 0 $back, 0 -1px $back;
                span{
                    position: relative;
                    display: inline-block;
                }
            }
        }
    }
}

#square {
    width: auto;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    background: $back;
    .fullpage {
        float: left;
        position: absolute;
    }
}

#introduce {
    width: 100vw;
    height: auto;
    transform-style: preserve-3d;
    perspective: 2000px;
    position: relative;
    display: flex;
    justify-content: center;
    .container {
        width: 1200px;
        position: absolute;
        height: 100vh;
        padding: 10vh 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;
        #pic_outer {
            width: 300px;
            height: 45vh;
            background: white;
            clip-path: polygon(0 4.5vh, 4.5vh 0, 95.5vh 0, 100% 0, 100% 4.5vh, 100% 95.5vh, 95.5vh 100%, 4.5vh 100%, 0 100%, 0 95.5vh);

            #pic_inner {
                width: 300px;
                height: 45vh;
                background: $back;
                clip-path: polygon(0% 4.95vh, 4.95vh 0%, 95.05vh 0%, 100% 0, 100% 4.95vh, 100% 95.05vh, 95.05vh 100%, 4.95vh 100%, 0 100%, 0% 95.05vh);
                #pic{
                    width: 300px;
                    height: 45vh;
                    background: white;

                    clip-path: polygon(0% 6.3vh, 6.3vh 0%, 93.7vh 0%, 100% 0, 100% 6.3vh, 100% 93.7vh, 93.7vh 100%, 6.3vh 100%, 0 100%, 0% 93.7vh);
                    
                }
            }
        }
        #about_outer {
            margin-left: 100px;
            width: 700px;
            height: 45vh;
            background: forestgreen;            
            clip-path: polygon(0% 10%, 10% 0%, 90% 0%, 100% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 100%, 0% 90%);
            #about_inner {
                height: 45vh;
                background: $back;
                clip-path: polygon(0% 11%, 11% 0%, 89% 0%, 100% 0, 100% 11%, 100% 89%, 89% 100%, 11% 100%, 0 100%, 0% 89%);
                #about{
                    height: 45vh;
                    background: forestgreen;            
                    clip-path: polygon(0% 14%, 14% 0%, 86% 0%, 100% 0, 100% 14%, 100% 86%, 86% 100%, 14% 100%, 0 100%, 0% 86%);
                }
            }
        }
        #comment_outer {
            width: 1100px;
            height: 30vh;
            background: firebrick;
            clip-path: polygon(0% 3vh, 110px 0%, 90% 0%, 100% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 100%, 0% 90%);
            #comment_inner {
                
                height: 30vh;
                background: $back;
                clip-path: polygon(0% 3.3vh, 121px 0%, 89% 0%, 100% 0, 100% 11%, 100% 89%, 89% 100%, 11% 100%, 0 100%, 0% 89%);
                #comment{
                    top:0;
                    height: 30vh;
                    clip-path: polygon(0% 4.2vh, 154px 0%, 86% 0%, 100% 0, 100% 14%, 100% 86%, 86% 100%, 14% 100%, 0 100%, 0% 86%);
                    background: firebrick;
                }
            }
        }
    }
    #skill {
        top:150vh;
        transform: rotateX(-45deg);
        div{
            width: 100%;
            height: 50%;
            h2 {
                color: white;
                font-size: 3em;
                margin-bottom: 20px;
            }
            .circle {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                position: relative;
                float: left;
                margin: 0 50px;
                .inner_circle {
                    width: 150px;
                    height: 150px;
                    background: $back;
                    border-radius: 50%;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    img {
                        width: 80%;
                        height: 80%;
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }

    }
}

#portfolio {
    width: 100vw;
    height: 100vh;
    left: 100vw;
    .container {
        width: 1200px;
        height: 100vh;
        margin: 0 auto;
        padding: 10vh 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;
        overflow: hidden;
        h2 {
            width: 100%;
            height: 5vh;
            color: white;
            font-size: 3em;
            margin-bottom: 20px;
        }
        #project_wrap {
            width: 600%;
            height: 65vh;
            overflow: hidden;
            .project{
                width: 600px;
                height: 100%;
                float: left;
                .img_box {
                    width: 80%;
                    height: 80%;
                    margin: 0 auto;
                    cursor: pointer;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .btn_wrap {
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        cursor: pointer;
                        width: 100px;
                        height: 40px;
                        margin: 0 10px;
                        border: none;
                    }
                }
            }
        }
        .popup {
            display: none;
            position: absolute;
            top:0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(51,51,51,0.9);
            .view_box{
                cursor: pointer;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 50%;
                height: 90%;
                overflow: hidden;
                .view {
                    width: 100%;

                }
            }
            .close {
                margin-left: 10px;
                position: absolute;
                top:5%;
                left:75%;
                cursor: pointer;
                i {
                    color: white;
                    font-size: 2em;
                }
            }
        }
    }
}

@keyframes square_profile {
    from {
        top:0;
        transform: rotateX(0deg);
    }
    to {
        top: -150vh;
        transform: rotateX(45deg);
    }
}

@keyframes square_profile_back {
    from {
        top: -150vh;
        transform: rotateX(45deg);
    }
    to {
        top:0;
        transform: rotateX(0deg);
    }
}

@keyframes square_skill {
    from {
        top:150vh;
        transform: rotateX(-45deg);
    }
    to {
        top: 0;
        transform: rotateX(0deg);
    }
}

@keyframes square_skill_back {
    from {
        top: 0;
        transform: rotateX(0deg);
    }
    to {

        top:150vh;
        transform: rotateX(-45deg);
    }
}

@keyframes square_intro {
    from {
        left:0;
        transform: rotateY(0deg);
    }
    to {
        left: -100vw;
        transform: rotateY(-45deg);
    }
}

@keyframes square_intro_back {
    from {
        left: -100vw;
        transform: rotateY(-45deg);
    }
    to {
        left:0;
        transform: rotateY(0deg);
    }
}

@keyframes square_port {
    from {
        left:100vw;
        transform: rotateY(45deg);
    }
    to {
        left: 0;
        transform: rotateY(0deg);
    }
}

@keyframes square_port_back {
    from {
        left: 0;
        transform: rotateY(0deg);
    }
    to {
        left:100vw;
        transform: rotateY(45deg);
    }
}

@keyframes scroll_spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from { 
        transform: rotateY(0) rotateX(0); 
    }
    to   { 
        transform: rotateY(-360deg) rotateX(360deg);
    }
}

@keyframes spin_back {
    from { 
        transform: rotateY(-180deg) rotateX(180deg);
    }
    to   { 
        transform: rotateY(0) rotateX(0);
    }
}

@keyframes text_out_0 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-30vw, -5vh);
    }
}

@keyframes text_out_0_back {
    from {
        transform: translate(-30vw, -5vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_1 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-40vw, -20vh);
    }
}

@keyframes text_out_1_back {
    from {
        transform: translate(-40vw, -20vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_2 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-50vw, -40vh);
    }
}

@keyframes text_out_2_back {
    from {
        transform: translate(-50vw, -40vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_3 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-60vw, -80vh);
    }
}

@keyframes text_out_3_back {
    from {
        transform: translate(-60vw, -80vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_5 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0vw, -70vh);
    }
}

@keyframes text_out_5_back {
    from {
        transform: translate(0vw, -70vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_6 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(10vw, -70vh);
    }
}

@keyframes text_out_6_back {
    from {
        transform: translate(10vw, -70vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_7 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(25vw, -60vh);
    }
}

@keyframes text_out_7_back {
    from {
        transform: translate(25vw, -60vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_9 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(45vw, -30vh);
    }
}

@keyframes text_out_9_back {
    from {
        transform: translate(45vw, -30vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_10 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(60vw, -30vh);
    }
}

@keyframes text_out_10_back {
    from {
        transform: translate(60vw, -30vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_11 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-30vw, 10vh);
    }
}

@keyframes text_out_11_back {
    from {
        transform: translate(-30vw, 10vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_12 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-40vw, 50vh);
    }
}

@keyframes text_out_12_back {
    from {
        transform: translate(-40vw, 50vh);

    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_13 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-40vw, 80vh);
    }
}

@keyframes text_out_13_back {
    from {
        transform: translate(-40vw, 80vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_14 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-30vw, 100vh);
    }
}

@keyframes text_out_14_back {
    from {
        transform: translate(-30vw, 100vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_15 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(5vw, 150vh);
    }
}

@keyframes text_out_15_back {
    from {
        transform: translate(5vw, 150vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_16 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(25vw, 150vh);
    }
}

@keyframes text_out_16_back {
    from {
        transform: translate(25vw, 150vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_17 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(40vw, 70vh);
    }
}

@keyframes text_out_17_back {
    from {
        transform: translate(40vw, 70vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_18 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(60vw, 60vh);
    }
}

@keyframes text_out_18_back {
    from {
        transform: translate(60vw, 60vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_19 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(80vw, 50vh);
    }
}

@keyframes text_out_19_back {
    from {
        transform: translate(80vw, 50vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}
