@charset "UTF-8";

@mixin bar {
    content: "";
    width: 7px;
    height: 4.5vh;
    background: white;            
    display: inline-block;
    transform: skew(-45deg);
    margin-left: 7px;
}

@mixin cube {
    .cube {
        position: relative;
        height: 50vh;
        width: 50vh;
        top:25vh;
        left:calc(50% - 25vh);
        animation : spin 8s infinite linear;
        transform-style: preserve-3d;
        .cube_face{
            position: absolute;
            height: 100%;
            width: 100%;
        }
        .cube {
            &_1 {
                transform: rotateX(90deg) translateZ(25vh); 
                background: #ffffff;
            } 
            &_2 { 
                transform: translateZ(25vh); 
                background: #fdfdfd;
            }
            &_3 { 
                transform: rotateY(90deg) translateZ(25vh); 
                background: #f4f4f4;
            }
            &_4 { 
                transform: rotateY(180deg) translateZ(25vh); 
                background: #f7f7f7;
            }
            &_5 { 
                transform: rotateY(-90deg) translateZ(25vh); 
                background: #ededed;
            }
            &_6 { 
                transform: rotateX(-90deg) translateZ(25vh); 
                background: #e7e7e7;
            }
        }
    }
}

@mixin center {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

$back :rgb(51, 51, 51);

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: contain;
    cursor: none;
}

.cursor{
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.5);
    animation: cursor-spin 2s linear infinite;
    @include center;
    border: 1px solid $back;
    z-index: 1000;
    pointer-events: none;
    .inner_cursor{
        margin:4px ;
        width: 10px;
        height: 10px;
        background: white;
    } 
}

.fullpage{
    width: 100%;
    height: 100%;
    position: relative;
    background: $back;
}

.container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

#page_wrap{
    width: 100%;
    height: 100%;
    position: relative;
    #scroll_spin {
        width: 100px;
        height: 100px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 100;
        animation: scroll_spin 15s both linear infinite;
        background: url(../img/spin_white.svg) center /cover no-repeat;
    }
    #main{
        #cube_wrap {
            width: 100%;
            height: 100vh;
            .cube {
                position: relative;
                height: 50vh;
                width: 50vh;
                top:25vh;
                left:calc(50% - 25vh);
                animation : spin 8s infinite linear;
                transform-style: preserve-3d;
                .cube_face{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
                .cube {
                    &_1 {
                        transform: rotateX(90deg) translateZ(25vh); 
                        background: #ffffff;
                    } 
                    &_2 { 
                        transform: translateZ(25vh); 
                        background: #fdfdfd;
                    }
                    &_3 { 
                        transform: rotateY(90deg) translateZ(25vh); 
                        background: #f4f4f4;
                    }
                    &_4 { 
                        transform: rotateY(180deg) translateZ(25vh); 
                        background: #f7f7f7;
                    }
                    &_5 { 
                        transform: rotateY(-90deg) translateZ(25vh); 
                        background: #ededed;
                    }
                    &_6 { 
                        transform: rotateX(-90deg) translateZ(25vh); 
                        background: #e7e7e7;
                    }
                }
            }
            #text_wrap{
                position: relative;
                h1 {
                    margin-top: -25vh;
                    color: white;
                    text-align: center;
                    font-size: 10em;
                    text-shadow: -1px 0 $back, 0 1px $back, 1px 0 $back, 0 -1px $back;
                    span{
                        position: relative;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

#square {
    width: auto;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    background: $back;
    .fullpage {
        float: left;
        position: absolute;
    }
    #introduce {
        width: 100vw;
        height: auto;
        transform-style: preserve-3d;
        perspective: 2000px;
        position: relative;
        display: flex;
        justify-content: center;
        .container {
            position: absolute;
            #pic_outer {
                width: 300px;
                height: 45vh;
                background: $back;
                position: relative;  
                overflow: hidden;
                &::before {
                    @include bar
                }
                &::after {
                    @include bar;
                    position: absolute;
                    bottom: 0;
                    margin-left: 272px;
                }
                #pic{
                    width: 300px;
                    position: absolute;
                    top:0;
                    height: 45vh;
                    background: white;
                    clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(300px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
                }
            }
            #about_outer {
                margin-left: 100px;
                width: 700px;
                height: 45vh;
                background: $back; 
                position: relative;  
                overflow: hidden;
                &::before {
                    @include bar;
                }
                &::after {
                    @include bar;
                    position: absolute;
                    bottom: 0;
                    margin-left: 672px;
                }
                #about{
                    width: 700px;
                    height: 45vh;
                    position: absolute;
                    top:0;
                    background: forestgreen;            
                    clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(700px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
                }
            }
            #comment_outer {
                width: 1100px;
                height: 30vh;
                background: $back;
                position: relative;
                overflow: hidden;
                &::before {
                    @include bar;
                    height: 3.3vh;
                }
                &::after {
                    @include bar;
                    height: 3.3vh;
                    position: absolute;
                    bottom: 0;
                    margin-left: 1072px;
                }
                #comment{
                    width: 1100px;
                    height: 30vh;
                    position: absolute;
                    top:0;
                    background: firebrick;            
                    clip-path: polygon(4.5vh 0%, 100% 0%, 100% 25.5vh, calc(1100px - 4.5vh) 100%, 0% 100%, 0% 4.5vh);
                }
            }
        }
        #skill {
            top:150vh;
            transform: rotateX(-45deg);
            div{
                width: 100%;
                height: 50%;
                h2 {
                    color: white;
                    font-size: 3em;
                    margin-bottom: 20px;
                }
                .circle {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    position: relative;
                    float: left;
                    margin: 0 50px;
                    .inner_circle {
                        width: 150px;
                        height: 150px;
                        background: $back;
                        border-radius: 50%;
                        @include center;
                        img {
                            width: 80%;
                            height: 80%;
                            @include center;
                        }
                    }
                }
            }
        }
    }
    #portfolio {
        width: 100vw;
        height: 100vh;
        left: 100vw;
        .container {
            overflow: hidden;
            margin: 0 auto;
            h2 {
                width: 100%;
                height: 5vh;
                color: white;
                font-size: 3em;
                margin-bottom: 20px;
            }
            #project_wrap {
                width: 600%;
                height: 65vh;
                overflow: hidden;
                .project{
                    width: 1200px;
                    height: 100%;
                    float: left;
                    display: flex;
                    flex-wrap: wrap;
                    .img_box {
                        width: 50%;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        .more_wrap {
                            width: 100%;
                            height: 100%;
                            display: none;
                            position: absolute;
                            .more_up {
                                width: 100%;
                                height: 50%;
                                position: absolute;
                                top:-50%;
                            }
                            .more_down {
                                width: 100%;
                                height: 50%;
                                position: absolute;
                                top:100%;
                            }
                            .more_btn { 
                                color: white;
                                border: 1px solid white;
                                width: 200px;
                                height: 50px;
                                @include center;
                                p {
                                    @include center;
                                }
                            }
                        }
                        img {
                            width: 100%;
                        }
                    }
                    .right_box {
                        width: 50%;
                        height: 100%;
                        .descript_wrap{
                            width: 100%;
                            height: 70%;
                            background: gold;
                        }
                        .btn_wrap {
                            width: 100%;
                            height: 30%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            button {
                                cursor: none;
                                width: 100px;
                                height: 40px;
                                margin: 0 10px;
                                border: none;
                            }
                        }
                    }
                }
            }
            .popup {
                display: none;
                position: absolute;
                top:0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(51,51,51,0.9);
                .view_box{
                    @include center;
                    width: 60%;
                    height: 90%;
                    overflow: hidden;
                    .view {
                        width: 100%;
                    }
                }
                .close {
                    margin-left: 10px;
                    position: absolute;
                    top:5%;
                    left:80%;
                    i {
                        color: white;
                        font-size: 2em;
                    }
                }
            }
        }
    }
    #contact {
        width: 100vw;
        height: 100vh;
        top: 150vh;
        .container {
            background: khaki;
        }
    }
}
#footer{
    #cube_wrap_2 {
        width: 100%;
        height: 100vh;
        @include cube;
        #text_wrap_2{
            position: relative;
            h1 {
                display: none;
                margin: -15vh auto;
                color: white;
                text-align: center;
                font-size: 11em;
                text-shadow: -1px 0 $back, 0 1px $back, 1px 0 $back, 0 -1px $back;
                span{
                    position: relative;
                    display: inline-block;
                    top:-100vh;
                }
            }
        }
    }
}

//커서 효과
.hover {
    animation: cursor_hover 2s linear infinite;
}

// 이미지 호버
.img_hover {
    background-color: rgba(0,0,0,0.7);
}

// 커서 애니메이션
@keyframes cursor-spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes cursor_hover {
    0%{
        transform: rotate(0deg) scale(1);
    }
    100%{
        transform: rotate(360deg) scale(1.5);
    }
}

@keyframes square_intro {
    from {
        left:0;
        transform: rotateY(0deg);
    }
    to {
        left: -100vw;
        transform: rotateY(-45deg);
    }
}

@keyframes square_intro_back {
    from {
        left: -100vw;
        transform: rotateY(-45deg);
    }
    to {
        left:0;
        transform: rotateY(0deg);
    }
}

@keyframes square_profile {
    from {
        top:0;
        transform: rotateX(0deg);
    }
    to {
        top: -150vh;
        transform: rotateX(45deg);
    }
}

@keyframes square_profile_back {
    from {
        top: -150vh;
        transform: rotateX(45deg);
    }
    to {
        top:0;
        transform: rotateX(0deg);
    }
}

@keyframes square_skill {
    from {
        top:150vh;
        transform: rotateX(-45deg);
    }
    to {
        top: 0;
        transform: rotateX(0deg);
    }
}

@keyframes square_skill_back {
    from {
        top: 0;
        transform: rotateX(0deg);
    }
    to {
        top:150vh;
        transform: rotateX(-45deg);
    }
}

@keyframes square_port {
    from {
        left:100vw;
        transform: rotateY(45deg);
    }
    to {
        left: 0;
        transform: rotateY(0deg);
    }
}

@keyframes square_port_back {
    from {
        left: 0;
        transform: rotateY(0deg);
    }
    to {
        left:100vw;
        transform: rotateY(45deg);
    }
}

@keyframes square_portfolio{
    from {
        top:0;
        transform: rotateX(0deg);
    }
    to {
        top: -150vh;
        transform: rotateX(45deg);
    }
}

@keyframes square_portfolio_back {
    from {
        top: -150vh;
        transform: rotateX(45deg);
    }
    to {
        top:0;
        transform: rotateX(0deg);
    }
}

@keyframes square_contact {
    from {
        top:150vh;
        transform: rotateX(-45deg);
    }
    to {
        top: 0;
        transform: rotateX(0deg);
    }
}

@keyframes square_contact_back {
    from {
        top: 0;
        transform: rotateX(0deg);
    }
    to {
        top:150vh;
        transform: rotateX(-45deg);
    }
}

// 스크롤 안내
@keyframes scroll_spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

// 큐브 회전
@keyframes spin {
    from { 
        transform: rotateY(0) rotateX(0); 
    }
    to   { 
        transform: rotateY(-360deg) rotateX(360deg);
    }
}

@keyframes spin_back {
    from { 
        transform: rotateY(-180deg) rotateX(180deg);
    }
    to   { 
        transform: rotateY(0) rotateX(0);
    }
}

// 메인 텍스트
@keyframes text_out_0 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-30vw, -5vh);
    }
}

@keyframes text_out_0_back {
    from {
        transform: translate(-30vw, -5vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_1 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-40vw, -20vh);
    }
}

@keyframes text_out_1_back {
    from {
        transform: translate(-40vw, -20vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_2 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-50vw, -40vh);
    }
}

@keyframes text_out_2_back {
    from {
        transform: translate(-50vw, -40vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_3 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-60vw, -80vh);
    }
}

@keyframes text_out_3_back {
    from {
        transform: translate(-60vw, -80vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_5 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0vw, -70vh);
    }
}

@keyframes text_out_5_back {
    from {
        transform: translate(0vw, -70vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_6 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(10vw, -70vh);
    }
}

@keyframes text_out_6_back {
    from {
        transform: translate(10vw, -70vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_7 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(25vw, -60vh);
    }
}

@keyframes text_out_7_back {
    from {
        transform: translate(25vw, -60vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_9 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(45vw, -30vh);
    }
}

@keyframes text_out_9_back {
    from {
        transform: translate(45vw, -30vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_10 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(60vw, -30vh);
    }
}

@keyframes text_out_10_back {
    from {
        transform: translate(60vw, -30vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_11 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-30vw, 10vh);
    }
}

@keyframes text_out_11_back {
    from {
        transform: translate(-30vw, 10vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_12 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-40vw, 50vh);
    }
}

@keyframes text_out_12_back {
    from {
        transform: translate(-40vw, 50vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_13 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-40vw, 80vh);
    }
}

@keyframes text_out_13_back {
    from {
        transform: translate(-40vw, 80vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_14 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-30vw, 100vh);
    }
}

@keyframes text_out_14_back {
    from {
        transform: translate(-30vw, 100vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_15 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(5vw, 150vh);
    }
}

@keyframes text_out_15_back {
    from {
        transform: translate(5vw, 150vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_16 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(25vw, 150vh);
    }
}

@keyframes text_out_16_back {
    from {
        transform: translate(25vw, 150vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_17 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(40vw, 70vh);
    }
}

@keyframes text_out_17_back {
    from {
        transform: translate(40vw, 70vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_18 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(60vw, 60vh);
    }
}

@keyframes text_out_18_back {
    from {
        transform: translate(60vw, 60vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes text_out_19 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(80vw, 50vh);
    }
}

@keyframes text_out_19_back {
    from {
        transform: translate(80vw, 50vh);
    }
    to {
        transform: translate(0px, 0px);
    }
}

// footer 텍스트
@keyframes text_drop_0 {
    0%{
        top:-100vh;
    }
    70% {
        top:20vh;
    }
    100% {
        top:0;
    }
}

@keyframes text_drop_0_back {
    0%{
        top:0;
    }
    30% {
        top:-20vh;
    }
    100% {
        top:100vh;
    }
}

@keyframes text_drop_1 {
    0%{
        top:-100vh;
    }
    70% {
        top:15vh;
    }
    100% {
        top:0;
    }
}

@keyframes text_drop_1_back {
    0%{
        top:0;
    }
    30% {
        top:-25vh;
    }
    100% {
        top:100vh;
    }
}

@keyframes text_drop_2 {
    0%{
        top:-100vh;
    }
    70% {
        top:7vh;
    }
    100% {
        top:0;
    }
}

@keyframes text_drop_2_back {
    0%{
        top:0;
    }
    30% {
        top:-30vh;
    }
    100% {
        top:100vh;
    }
}

@keyframes text_drop_3 {
    0%{
        top:-100vh;
    }
    70% {
        top:22vh;
    }
    100% {
        top:0;
    }
}

@keyframes text_drop_3_back {
    0%{
        top:0;
    }
    30% {
        top:-15vh;
    }
    100% {
        top:100vh;
    }
}

@keyframes text_drop_4 {
    0%{
        top:-100vh;
    }
    70% {
        top:14vh;
    }
    100% {
        top:0;
    }
}

@keyframes text_drop_4_back {
    0%{
        top:0;
    }
    30% {
        top:-11vh;
    }
    100% {
        top:100vh;
    }
}

@keyframes text_drop_6 {
    0%{
        top:-100vh;
    }
    70% {
        top:9vh;
    }
    100% {
        top:0;
    }
}

@keyframes text_drop_6_back {
    0%{
        top:0;
    }
    30% {
        top:-7vh;
    }
    100% {
        top:100vh;
    }
}

@keyframes text_drop_7 {
    0%{
        top:-100vh;
    }
    70% {
        top:12vh;
    }
    100% {
        top:0;
    }
}

@keyframes text_drop_7_back {
    0%{
        top:0;
    }
    30% {
        top:-22vh;
    }
    100% {
        top:100vh;
    }
}

@keyframes text_drop_8 {
    0%{
        top:-100vh;
    }
    70% {
        top:17vh;
    }
    100% {
        top:0;
    }
}

@keyframes text_drop_8_back {
    0%{
        top:0;
    }
    30% {
        top:-16vh;
    }
    100% {
        top:100vh;
    }
}
