html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  cursor: none;
}

.cursor {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-animation: cursor-spin 2s linear infinite;
          animation: cursor-spin 2s linear infinite;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(51, 51, 51);
  z-index: 1000;
  pointer-events: none;
}
.cursor .inner_cursor {
  margin: 4px;
  width: 10px;
  height: 10px;
  background: white;
}

.fullpage {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(51, 51, 51);
}

.container {
  width: 1300px;
  height: 100vh;
  margin: 0 auto;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

#page_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -20px;
}
#page_wrap #scroll_spin {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  -webkit-animation: scroll_spin 15s both linear infinite;
          animation: scroll_spin 15s both linear infinite;
  background: url(../img/spin_white.svg) center/cover no-repeat;
}
#page_wrap .main #cube_wrap {
  width: 100%;
  height: 100vh;
}
#page_wrap .main #cube_wrap .cube {
  position: relative;
  height: 50vh;
  width: 50vh;
  top: 25vh;
  left: calc(50% - 25vh);
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  transform-style: preserve-3d;
}
#page_wrap .main #cube_wrap .cube .cube_face {
  position: absolute;
  height: 100%;
  width: 100%;
}
#page_wrap .main #cube_wrap .cube .cube_1 {
  transform: rotateX(90deg) translateZ(25vh);
  background: #ffffff;
}
#page_wrap .main #cube_wrap .cube .cube_2 {
  transform: translateZ(25vh);
  background: #fdfdfd;
}
#page_wrap .main #cube_wrap .cube .cube_3 {
  transform: rotateY(90deg) translateZ(25vh);
  background: #f4f4f4;
}
#page_wrap .main #cube_wrap .cube .cube_4 {
  transform: rotateY(180deg) translateZ(25vh);
  background: #f7f7f7;
}
#page_wrap .main #cube_wrap .cube .cube_5 {
  transform: rotateY(-90deg) translateZ(25vh);
  background: #ededed;
}
#page_wrap .main #cube_wrap .cube .cube_6 {
  transform: rotateX(-90deg) translateZ(25vh);
  background: #e7e7e7;
}
#page_wrap .main #cube_wrap #text_wrap {
  position: relative;
}
#page_wrap .main #cube_wrap #text_wrap h1 {
  margin-top: -25vh;
  color: white;
  text-align: center;
  font-size: 10em;
  text-shadow: -1px 0 rgb(51, 51, 51), 0 1px rgb(51, 51, 51), 1px 0 rgb(51, 51, 51), 0 -1px rgb(51, 51, 51);
}
#page_wrap .main #cube_wrap #text_wrap h1 span {
  position: relative;
  display: inline-block;
}

#square {
  width: auto;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
  position: relative;
  background: rgb(51, 51, 51);
}
#square .fullpage {
  float: left;
  position: absolute;
}
#square #introduce {
  width: 100vw;
  height: auto;
  transform-style: preserve-3d;
  perspective: 2000px;
  position: relative;
  display: flex;
  justify-content: center;
}
#square #introduce .container {
  position: absolute;
}
#square #introduce .container #pic_outer {
  width: 300px;
  height: 45vh;
  background: rgb(51, 51, 51);
  position: relative;
  overflow: hidden;
}
#square #introduce .container #pic_outer::before {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
}
#square #introduce .container #pic_outer::after {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  position: absolute;
  bottom: 0;
  margin-left: 272px;
}
#square #introduce .container #pic_outer #pic {
  width: 300px;
  position: absolute;
  top: 0;
  height: 45vh;
  border: 7px solid white;
  -webkit-clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(300px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
          clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(300px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
}
#square #introduce .container #pic_outer #pic img {
  width: 100%;
  height: 100%;
}
#square #introduce .container #about_outer {
  margin-left: 100px;
  width: 700px;
  height: 45vh;
  background: rgb(51, 51, 51);
  position: relative;
  overflow: hidden;
}
#square #introduce .container #about_outer::before {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
}
#square #introduce .container #about_outer::after {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  position: absolute;
  bottom: 0;
  margin-left: 672px;
}
#square #introduce .container #about_outer #about {
  width: 700px;
  height: 45vh;
  position: absolute;
  top: 0;
  border: 7px solid white;
  -webkit-clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(700px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
          clip-path: polygon(5.4vh 0%, 100% 0%, 100% 39.6vh, calc(700px - 5.4vh) 100%, 0% 100%, 0% 5.4vh);
}
#square #introduce .container #about_outer #about p {
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  padding: 20px;
}
#square #introduce .container #comment_outer {
  width: 1100px;
  height: 30vh;
  background: rgb(51, 51, 51);
  position: relative;
  overflow: hidden;
}
#square #introduce .container #comment_outer::before {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  height: 3.3vh;
}
#square #introduce .container #comment_outer::after {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  height: 3.3vh;
  position: absolute;
  bottom: 0;
  margin-left: 1072px;
}
#square #introduce .container #comment_outer #comment {
  width: 1100px;
  height: 30vh;
  position: absolute;
  top: 0;
  border: 7px solid white;
  -webkit-clip-path: polygon(4.5vh 0%, 100% 0%, 100% 25.5vh, calc(1100px - 4.5vh) 100%, 0% 100%, 0% 4.5vh);
          clip-path: polygon(4.5vh 0%, 100% 0%, 100% 25.5vh, calc(1100px - 4.5vh) 100%, 0% 100%, 0% 4.5vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#square #introduce .container #comment_outer #comment p {
  color: white;
  font-size: 1.5em;
  font-weight: 900;
}
#square #introduce .container #comment_outer #comment p span {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: rgb(51, 51, 51);
}
#square #introduce #skill {
  top: 150vh;
  transform: rotateX(-45deg);
  display: flex;
}
#square #introduce #skill #circle_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
#square #introduce #skill #circle_wrap .circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#square #introduce #skill #circle_wrap .circle:not(:first-child) {
  display: none;
}
#square #introduce #skill #circle_wrap .circle .inner_circle {
  width: 450px;
  height: 450px;
  background: rgb(51, 51, 51);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#square #introduce #skill #circle_wrap .circle .inner_circle img {
  width: 80%;
  height: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#square #introduce #skill #circle_wrap #html {
  z-index: 1;
}
#square #introduce #skill #circle_wrap #skill_title {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
#square #introduce #skill #circle_wrap #skill_title span {
  display: none;
  height: 80px;
  font-size: 80px;
  font-weight: 900;
  color: white;
  display: inline-block;
  transform: rotate(90deg);
}
#square #introduce #skill #circle_wrap #skill_title span:nth-of-type(1) {
  width: 66px;
}
#square #introduce #skill #circle_wrap #skill_title span:nth-of-type(2) {
  width: 57px;
}
#square #introduce #skill #circle_wrap #skill_title span:nth-of-type(3) {
  width: 75px;
}
#square #introduce #skill #circle_wrap #skill_title span:nth-of-type(4) {
  width: 53px;
}
#square #introduce #skill #circle_wrap #skill_title #title_2 {
  display: none;
  font-size: 5em;
  font-weight: 900;
  color: white;
  transform: translate(-283px, 206px);
}
#square #introduce #skill #circle_wrap #skill_text_wrap {
  width: 25%;
  height: 600px;
  color: white;
  position: absolute;
  right: 0px;
}
#square #introduce #skill #circle_wrap #skill_text_wrap .skill_text {
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 1.1em;
  -webkit-clip-path: polygon(32.5px 0%, 100% 0%, 100% calc(100% - 32.5px), 292.5px 100%, 0% 100%, 0% 32.5px);
          clip-path: polygon(32.5px 0%, 100% 0%, 100% calc(100% - 32.5px), 292.5px 100%, 0% 100%, 0% 32.5px);
  padding: 20px;
  border: 1px solid white;
  display: none;
}
#square #introduce #skill #circle_wrap #skill_text_wrap .skill_text p {
  margin-bottom: 10px;
  opacity: 0;
}
#square #portfolio {
  width: 100vw;
  height: 100vh;
  left: 100vw;
}
#square #portfolio .container {
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
#square #portfolio .container #project_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#square #portfolio .container #project_wrap #project_title {
  height: 100px;
  color: white;
  font-size: 3em;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}
#square #portfolio .container #project_wrap #project_title div {
  display: inline-block;
}
#square #portfolio .container #project_wrap #project_title div #project_num {
  overflow: hidden;
}
#square #portfolio .container #project_wrap #project_title div #project_num span:not(:first-of-type) {
  display: none;
}
#square #portfolio .container #project_wrap #project_title div #project_desc {
  overflow: hidden;
  font-size: 30px;
}
#square #portfolio .container #project_wrap #project_title div #project_desc span:not(:first-of-type) {
  display: none;
}
#square #portfolio .container #project_wrap #card_view {
  width: 100%;
  height: calc(100% - 100px);
  overflow: hidden;
}
#square #portfolio .container #project_wrap #card_view #card_wrap {
  width: 100%;
  height: auto;
}
#square #portfolio .container #project_wrap #card_view #card_wrap .card {
  width: 100%;
  height: 40vh;
  margin-top: -2%;
  position: relative;
  filter: drop-shadow(0px -10px 5px rgba(0, 0, 0, 0.5));
}
#square #portfolio .container #project_wrap #card_view #card_wrap .card::before {
  content: "";
  width: 7px;
  height: 4.5vh;
  background: white;
  display: inline-block;
  transform: skew(-45deg);
  margin-left: 7px;
  height: 4.4vh;
}
#square #portfolio .container #project_wrap #card_view #card_wrap .card .inner_card {
  background: white;
  -webkit-clip-path: polygon(4.8vh 0%, 100% 0%, 100% 100%, 0% 100%, 0% 4.8vh);
          clip-path: polygon(4.8vh 0%, 100% 0%, 100% 100%, 0% 100%, 0% 4.8vh);
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0px;
  font-size: 5em;
  color: rgb(51, 51, 51);
}
#square #portfolio .container #project_wrap #card_view #card_wrap .card .inner_card img {
  width: 100%;
}
#square #portfolio .container #project_wrap #card_view #card_wrap .card .inner_card .more_btn {
  display: none;
  width: 600px;
  height: 25vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}
#square #portfolio .container #project_wrap #card_view #card_wrap .card .inner_card .more_btn p {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}
#square #portfolio .container #project_wrap #card_view #card_wrap .card .inner_card .more_btn button {
  cursor: none;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background: transparent;
  border: 1px solid white;
  position: absolute;
  padding: 5px;
  text-align: center;
  font-size: 17px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
#square #portfolio .container #project_wrap #card_view #card_wrap .card .inner_card .more_btn button:hover {
  background: white;
  color: rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
}
#square #portfolio .container #project_wrap #card_view #card_wrap #card_1 {
  margin-top: 5vh;
}
#square #portfolio .container .popup {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9);
}
#square #portfolio .container .popup .view_box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  overflow: hidden;
}
#square #portfolio .container .popup .view_box .view {
  width: 100%;
}
#square #portfolio .container .popup .close {
  margin-left: 10px;
  position: absolute;
  top: 5%;
  left: 80%;
}
#square #portfolio .container .popup .close i {
  color: white;
  font-size: 2em;
}
#square #portfolio .container .popup .btn_box {
  width: 100px;
  height: 500px;
  position: absolute;
  top: 5%;
  left: 13%;
}
#square #portfolio .container .popup .btn_box .pop_btn {
  width: 100px;
  height: 50px;
  background: white;
  border: none;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
#square #portfolio .container .popup .btn_box .pop_btn:hover {
  background: rgb(51, 51, 51);
  color: white;
  border: 2px solid white;
}
#square #portfolio .container .popup .btn_box #sub_2 {
  display: none;
}
#square #contact {
  width: 100vw;
  height: 100vh;
  top: 150vh;
}
#square #contact .container {
  position: relative;
  display: block;
}
#square #contact .container #left_text {
  width: 1000px;
  height: 100%;
  font-size: 100px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 0px;
}
#square #contact .container #left_text .line {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 120px;
}
#square #contact .container #left_text .line .contact {
  position: relative;
  color: white;
  text-shadow: -1px 0 rgb(51, 51, 51), 0 1px rgb(51, 51, 51), 1px 0 rgb(51, 51, 51), 0 -1px rgb(51, 51, 51);
  transform: rotate(0deg);
}
#square #contact .container #left_text .line .hide_text {
  position: relative;
  color: rgb(51, 51, 51);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#square #contact .container #left_text .line #text_ani_6 {
  width: 83px;
  height: 141px;
}
#square #contact .container #contact_wrap {
  position: absolute;
  bottom: 120px;
  left: 0px;
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-around;
}
#square #contact .container #contact_wrap .contact_box {
  display: none;
  width: 30%;
  height: 100%;
}
#square #contact .container #contact_wrap .contact_box p {
  padding: 20px;
  color: white;
  font-size: 1.5em;
  width: 300px;
  height: 100px;
  border: 1px solid white;
  -webkit-clip-path: polygon(30px 0%, 100% 0%, 100% 70px, 270px 100%, 0% 100%, 0% 30px);
          clip-path: polygon(30px 0%, 100% 0%, 100% 70px, 270px 100%, 0% 100%, 0% 30px);
}
#square #contact .container #contact_wrap .contact_box p:hover {
  -webkit-animation: shake 0.5s linear both;
          animation: shake 0.5s linear both;
}

#footer #cube_wrap_2 {
  width: 100%;
  height: 100vh;
}
#footer #cube_wrap_2 .cube {
  position: relative;
  height: 50vh;
  width: 50vh;
  top: 25vh;
  left: calc(50% - 25vh);
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  transform-style: preserve-3d;
}
#footer #cube_wrap_2 .cube .cube_face {
  position: absolute;
  height: 100%;
  width: 100%;
}
#footer #cube_wrap_2 .cube .cube_1 {
  transform: rotateX(90deg) translateZ(25vh);
  background: #ffffff;
}
#footer #cube_wrap_2 .cube .cube_2 {
  transform: translateZ(25vh);
  background: #fdfdfd;
}
#footer #cube_wrap_2 .cube .cube_3 {
  transform: rotateY(90deg) translateZ(25vh);
  background: #f4f4f4;
}
#footer #cube_wrap_2 .cube .cube_4 {
  transform: rotateY(180deg) translateZ(25vh);
  background: #f7f7f7;
}
#footer #cube_wrap_2 .cube .cube_5 {
  transform: rotateY(-90deg) translateZ(25vh);
  background: #ededed;
}
#footer #cube_wrap_2 .cube .cube_6 {
  transform: rotateX(-90deg) translateZ(25vh);
  background: #e7e7e7;
}
#footer #cube_wrap_2 #text_wrap_2 {
  position: relative;
}
#footer #cube_wrap_2 #text_wrap_2 h1 {
  display: none;
  margin: -15vh auto;
  color: white;
  text-align: center;
  font-size: 11em;
  text-shadow: -1px 0 rgb(51, 51, 51), 0 1px rgb(51, 51, 51), 1px 0 rgb(51, 51, 51), 0 -1px rgb(51, 51, 51);
}
#footer #cube_wrap_2 #text_wrap_2 h1 span {
  position: relative;
  display: inline-block;
  top: -100vh;
}

.hover {
  -webkit-animation: cursor_hover 2s linear infinite;
          animation: cursor_hover 2s linear infinite;
}

#card_1::before {
  background: url(../img/project_1_main_gray.jpg) !important;
}

#card_1.gray::before {
  background: url(../img/project_1_main.jpg) !important;
}

#card_2::before {
  background: url(../img/project_2_main_gray.jpg) !important;
}

#card_2.gray::before {
  background: url(../img/project_2_main.jpg) !important;
}

#card_3::before {
  background: url(../img/project_3_main_gray.jpg) !important;
}

#card_3.gray::before {
  background: url(../img/project_3_main.jpg) !important;
}

#card_4::before {
  background: url(../img/project_4_main_gray.jpg) !important;
}

#card_4.gray::before {
  background: url(../img/project_4_main.jpg) !important;
}

#card_5::before {
  background: url(../img/project_5_main_gray.jpg) !important;
}

#card_5.gray::before {
  background: url(../img/project_5_main.jpg) !important;
}

#card_6::before {
  background: url(../img/project_6_main_gray.jpg) !important;
}

#card_6.gray::before {
  background: url(../img/project_6_main.jpg) !important;
}

@-webkit-keyframes cursor-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cursor-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cursor_hover {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}
@keyframes cursor_hover {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}
@-webkit-keyframes text_rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes text_rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes h {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-280px, 310px);
  }
}
@keyframes h {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-280px, 310px);
  }
}
@-webkit-keyframes t {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-216px, 230px);
  }
}
@keyframes t {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-216px, 230px);
  }
}
@-webkit-keyframes m {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-159px, 150px);
  }
}
@keyframes m {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-159px, 150px);
  }
}
@-webkit-keyframes l {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-84px, 70px);
  }
}
@keyframes l {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-84px, 70px);
  }
}
@-webkit-keyframes text_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes text_hide {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes text_hide {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes contact_2 {
  0% {
    top: 0;
    left: 0px;
  }
  50% {
    left: -60px;
    top: 0;
  }
  100% {
    left: -60px;
    top: -360px;
  }
}
@keyframes contact_2 {
  0% {
    top: 0;
    left: 0px;
  }
  50% {
    left: -60px;
    top: 0;
  }
  100% {
    left: -60px;
    top: -360px;
  }
}
@-webkit-keyframes contact_3 {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 85px;
  }
  100% {
    top: -240px;
    left: 85px;
  }
}
@keyframes contact_3 {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 85px;
  }
  100% {
    top: -240px;
    left: 85px;
  }
}
@-webkit-keyframes contact_3_u {
  0% {
    top: 6px;
    transform: rotateX(0deg);
  }
  100% {
    top: 6px;
    transform: rotateX(180deg);
  }
}
@keyframes contact_3_u {
  0% {
    top: 6px;
    transform: rotateX(0deg);
  }
  100% {
    top: 6px;
    transform: rotateX(180deg);
  }
}
@-webkit-keyframes contact_4 {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 165px;
  }
  100% {
    top: 120px;
    left: 165px;
  }
}
@keyframes contact_4 {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 165px;
  }
  100% {
    top: 120px;
    left: 165px;
  }
}
@-webkit-keyframes contact_5_line {
  0% {
    top: 0;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -120px;
  }
}
@keyframes contact_5_line {
  0% {
    top: 0;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -120px;
  }
}
@-webkit-keyframes contact_5 {
  0% {
    left: 0;
  }
  50% {
    left: 120px;
  }
  100% {
    left: 120px;
  }
}
@keyframes contact_5 {
  0% {
    left: 0;
  }
  50% {
    left: 120px;
  }
  100% {
    left: 120px;
  }
}
@-webkit-keyframes contact_6 {
  0% {
    left: 0;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 50px;
  }
}
@keyframes contact_6 {
  0% {
    left: 0;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 50px;
  }
}
@-webkit-keyframes contact_7 {
  0% {
    left: 0;
  }
  50% {
    left: -130px;
  }
  100% {
    left: -130px;
  }
}
@keyframes contact_7 {
  0% {
    left: 0;
  }
  50% {
    left: -130px;
  }
  100% {
    left: -130px;
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  40% {
    transform: translate(-1px, 1px) rotate(1deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  40% {
    transform: translate(-1px, 1px) rotate(1deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
}
@-webkit-keyframes square_intro {
  from {
    left: 0;
    transform: rotateY(0deg);
  }
  to {
    left: -100vw;
    transform: rotateY(-45deg);
  }
}
@keyframes square_intro {
  from {
    left: 0;
    transform: rotateY(0deg);
  }
  to {
    left: -100vw;
    transform: rotateY(-45deg);
  }
}
@-webkit-keyframes square_intro_back {
  from {
    left: -100vw;
    transform: rotateY(-45deg);
  }
  to {
    left: 0;
    transform: rotateY(0deg);
  }
}
@keyframes square_intro_back {
  from {
    left: -100vw;
    transform: rotateY(-45deg);
  }
  to {
    left: 0;
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes square_profile {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: -150vh;
    transform: rotateX(45deg);
  }
}
@keyframes square_profile {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: -150vh;
    transform: rotateX(45deg);
  }
}
@-webkit-keyframes square_profile_back {
  from {
    top: -150vh;
    transform: rotateX(45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@keyframes square_profile_back {
  from {
    top: -150vh;
    transform: rotateX(45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes square_skill {
  from {
    top: 150vh;
    transform: rotateX(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@keyframes square_skill {
  from {
    top: 150vh;
    transform: rotateX(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes square_skill_back {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: 150vh;
    transform: rotateX(-45deg);
  }
}
@keyframes square_skill_back {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: 150vh;
    transform: rotateX(-45deg);
  }
}
@-webkit-keyframes square_port {
  from {
    left: 100vw;
    transform: rotateY(45deg);
  }
  to {
    left: 0;
    transform: rotateY(0deg);
  }
}
@keyframes square_port {
  from {
    left: 100vw;
    transform: rotateY(45deg);
  }
  to {
    left: 0;
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes square_port_back {
  from {
    left: 0;
    transform: rotateY(0deg);
  }
  to {
    left: 100vw;
    transform: rotateY(45deg);
  }
}
@keyframes square_port_back {
  from {
    left: 0;
    transform: rotateY(0deg);
  }
  to {
    left: 100vw;
    transform: rotateY(45deg);
  }
}
@-webkit-keyframes square_portfolio {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: -150vh;
    transform: rotateX(45deg);
  }
}
@keyframes square_portfolio {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: -150vh;
    transform: rotateX(45deg);
  }
}
@-webkit-keyframes square_portfolio_back {
  from {
    top: -150vh;
    transform: rotateX(45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@keyframes square_portfolio_back {
  from {
    top: -150vh;
    transform: rotateX(45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes square_contact {
  from {
    top: 150vh;
    transform: rotateX(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@keyframes square_contact {
  from {
    top: 150vh;
    transform: rotateX(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes square_contact_back {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: 150vh;
    transform: rotateX(-45deg);
  }
}
@keyframes square_contact_back {
  from {
    top: 0;
    transform: rotateX(0deg);
  }
  to {
    top: 150vh;
    transform: rotateX(-45deg);
  }
}
@-webkit-keyframes scroll_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scroll_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}
@-webkit-keyframes spin_back {
  from {
    transform: rotateY(-180deg) rotateX(180deg);
  }
  to {
    transform: rotateY(0) rotateX(0);
  }
}
@keyframes spin_back {
  from {
    transform: rotateY(-180deg) rotateX(180deg);
  }
  to {
    transform: rotateY(0) rotateX(0);
  }
}
@-webkit-keyframes text_out_0 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, -5vh);
  }
}
@keyframes text_out_0 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, -5vh);
  }
}
@-webkit-keyframes text_out_0_back {
  from {
    transform: translate(-30vw, -5vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_0_back {
  from {
    transform: translate(-30vw, -5vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_1 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, -20vh);
  }
}
@keyframes text_out_1 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, -20vh);
  }
}
@-webkit-keyframes text_out_1_back {
  from {
    transform: translate(-40vw, -20vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_1_back {
  from {
    transform: translate(-40vw, -20vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_2 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-50vw, -40vh);
  }
}
@keyframes text_out_2 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-50vw, -40vh);
  }
}
@-webkit-keyframes text_out_2_back {
  from {
    transform: translate(-50vw, -40vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_2_back {
  from {
    transform: translate(-50vw, -40vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_3 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-60vw, -80vh);
  }
}
@keyframes text_out_3 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-60vw, -80vh);
  }
}
@-webkit-keyframes text_out_3_back {
  from {
    transform: translate(-60vw, -80vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_3_back {
  from {
    transform: translate(-60vw, -80vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_5 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0vw, -70vh);
  }
}
@keyframes text_out_5 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0vw, -70vh);
  }
}
@-webkit-keyframes text_out_5_back {
  from {
    transform: translate(0vw, -70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_5_back {
  from {
    transform: translate(0vw, -70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_6 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(10vw, -70vh);
  }
}
@keyframes text_out_6 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(10vw, -70vh);
  }
}
@-webkit-keyframes text_out_6_back {
  from {
    transform: translate(10vw, -70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_6_back {
  from {
    transform: translate(10vw, -70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_7 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(25vw, -60vh);
  }
}
@keyframes text_out_7 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(25vw, -60vh);
  }
}
@-webkit-keyframes text_out_7_back {
  from {
    transform: translate(25vw, -60vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_7_back {
  from {
    transform: translate(25vw, -60vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_9 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(45vw, -30vh);
  }
}
@keyframes text_out_9 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(45vw, -30vh);
  }
}
@-webkit-keyframes text_out_9_back {
  from {
    transform: translate(45vw, -30vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_9_back {
  from {
    transform: translate(45vw, -30vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_10 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(60vw, -30vh);
  }
}
@keyframes text_out_10 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(60vw, -30vh);
  }
}
@-webkit-keyframes text_out_10_back {
  from {
    transform: translate(60vw, -30vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_10_back {
  from {
    transform: translate(60vw, -30vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_11 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, 10vh);
  }
}
@keyframes text_out_11 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, 10vh);
  }
}
@-webkit-keyframes text_out_11_back {
  from {
    transform: translate(-30vw, 10vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_11_back {
  from {
    transform: translate(-30vw, 10vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_12 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, 50vh);
  }
}
@keyframes text_out_12 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, 50vh);
  }
}
@-webkit-keyframes text_out_12_back {
  from {
    transform: translate(-40vw, 50vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_12_back {
  from {
    transform: translate(-40vw, 50vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_13 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, 80vh);
  }
}
@keyframes text_out_13 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40vw, 80vh);
  }
}
@-webkit-keyframes text_out_13_back {
  from {
    transform: translate(-40vw, 80vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_13_back {
  from {
    transform: translate(-40vw, 80vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_14 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, 100vh);
  }
}
@keyframes text_out_14 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-30vw, 100vh);
  }
}
@-webkit-keyframes text_out_14_back {
  from {
    transform: translate(-30vw, 100vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_14_back {
  from {
    transform: translate(-30vw, 100vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_15 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(5vw, 150vh);
  }
}
@keyframes text_out_15 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(5vw, 150vh);
  }
}
@-webkit-keyframes text_out_15_back {
  from {
    transform: translate(5vw, 150vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_15_back {
  from {
    transform: translate(5vw, 150vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_16 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(25vw, 150vh);
  }
}
@keyframes text_out_16 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(25vw, 150vh);
  }
}
@-webkit-keyframes text_out_16_back {
  from {
    transform: translate(25vw, 150vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_16_back {
  from {
    transform: translate(25vw, 150vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_17 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(40vw, 70vh);
  }
}
@keyframes text_out_17 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(40vw, 70vh);
  }
}
@-webkit-keyframes text_out_17_back {
  from {
    transform: translate(40vw, 70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_17_back {
  from {
    transform: translate(40vw, 70vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_18 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(60vw, 60vh);
  }
}
@keyframes text_out_18 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(60vw, 60vh);
  }
}
@-webkit-keyframes text_out_18_back {
  from {
    transform: translate(60vw, 60vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_18_back {
  from {
    transform: translate(60vw, 60vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_out_19 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(80vw, 50vh);
  }
}
@keyframes text_out_19 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(80vw, 50vh);
  }
}
@-webkit-keyframes text_out_19_back {
  from {
    transform: translate(80vw, 50vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes text_out_19_back {
  from {
    transform: translate(80vw, 50vh);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes text_drop_0 {
  0% {
    top: -100vh;
  }
  70% {
    top: 20vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_0 {
  0% {
    top: -100vh;
  }
  70% {
    top: 20vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_0_back {
  0% {
    top: 0;
  }
  30% {
    top: -20vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_0_back {
  0% {
    top: 0;
  }
  30% {
    top: -20vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_1 {
  0% {
    top: -100vh;
  }
  70% {
    top: 15vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_1 {
  0% {
    top: -100vh;
  }
  70% {
    top: 15vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_1_back {
  0% {
    top: 0;
  }
  30% {
    top: -25vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_1_back {
  0% {
    top: 0;
  }
  30% {
    top: -25vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_2 {
  0% {
    top: -100vh;
  }
  70% {
    top: 7vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_2 {
  0% {
    top: -100vh;
  }
  70% {
    top: 7vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_2_back {
  0% {
    top: 0;
  }
  30% {
    top: -30vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_2_back {
  0% {
    top: 0;
  }
  30% {
    top: -30vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_3 {
  0% {
    top: -100vh;
  }
  70% {
    top: 22vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_3 {
  0% {
    top: -100vh;
  }
  70% {
    top: 22vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_3_back {
  0% {
    top: 0;
  }
  30% {
    top: -15vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_3_back {
  0% {
    top: 0;
  }
  30% {
    top: -15vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_4 {
  0% {
    top: -100vh;
  }
  70% {
    top: 14vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_4 {
  0% {
    top: -100vh;
  }
  70% {
    top: 14vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_4_back {
  0% {
    top: 0;
  }
  30% {
    top: -11vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_4_back {
  0% {
    top: 0;
  }
  30% {
    top: -11vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_6 {
  0% {
    top: -100vh;
  }
  70% {
    top: 9vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_6 {
  0% {
    top: -100vh;
  }
  70% {
    top: 9vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_6_back {
  0% {
    top: 0;
  }
  30% {
    top: -7vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_6_back {
  0% {
    top: 0;
  }
  30% {
    top: -7vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_7 {
  0% {
    top: -100vh;
  }
  70% {
    top: 12vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_7 {
  0% {
    top: -100vh;
  }
  70% {
    top: 12vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_7_back {
  0% {
    top: 0;
  }
  30% {
    top: -22vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_7_back {
  0% {
    top: 0;
  }
  30% {
    top: -22vh;
  }
  100% {
    top: 100vh;
  }
}
@-webkit-keyframes text_drop_8 {
  0% {
    top: -100vh;
  }
  70% {
    top: 17vh;
  }
  100% {
    top: 0;
  }
}
@keyframes text_drop_8 {
  0% {
    top: -100vh;
  }
  70% {
    top: 17vh;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes text_drop_8_back {
  0% {
    top: 0;
  }
  30% {
    top: -16vh;
  }
  100% {
    top: 100vh;
  }
}
@keyframes text_drop_8_back {
  0% {
    top: 0;
  }
  30% {
    top: -16vh;
  }
  100% {
    top: 100vh;
  }
}